.reviews_area {
	position: relative;
	background: #edf6ff;
}

.rating-block {
	background-color: #FAFAFA;
	border: 1px solid #EFEFEF;
	padding: 15px 15px 20px 15px;
	border-radius: 3px;
}

.review-block {
	/* font-size:13px; */
	background-color:#FAFAFA;/*#f3fafe */
	border: 1px solid #EFEFEF;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 5px;
}

.review-block-name {
	font-size: 12px;
	margin: 10px 0;
	font-style: italic;
}

.review-block-date {
	font-size: 12px;
	color: #777;
	font-style: italic;
}

#total-reviews {
	padding-left:15px;
	color: #777;
	font-style: italic;
}

.review-block-stars {
	/* font-size:13px; */
	margin-bottom: 15px;
	margin-top: 10px;
}

.review-block-title {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px;
}

.review-block-description {
	font-size: 14px;
}

.pagination>li>a, .pagination>li>span {
	border-radius: 50% !important;
	margin: 0 5px;
}

div.pagination-footer {
	display: inline-block;
	padding-top: 5px;
	/*  border: 1px solid red; */
}

div.pagination-extend-buttons {
	padding-left: 0;
	/* margin: 29px 0; */
	list-style: none;
	padding-top: 5px;
}

span.pager-info {
	color: dimgray;
	font-style: italic;
	padding-left: 10px;
}